# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
.DS_Store
Gemfile.lock
log/**/*
tmp/**/*
nohup.out
*.out
webapp/tmp/*
webapp/log/*
webapp/.sass-cache
starter.local.sh
bin/*
worker_server/temp/*
worker_server/temp_work/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
